@charset "UTF-8";

* {
  @include ltr {
    font-family: 'Nanum Barun Gothic', sans-serif, monospace;
    font-size: 1.6rem;
  }

  @include rtl {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.5rem;
  }
}
