@charset "UTF-8";

* {
  body {
    letter-spacing: 0.1px;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    box-sizing: border-box;

    &-track {
      @include themed() {
        background: t('accent');
      }
    }

    &-thumb {
      background: #c2c2c2;
      border-radius: 1px;
      &:hover {
        background: #808080;
      }

      &:active {
        background: #747474;
      }
    }

    &-button {
      border-style: solid;
      height: 0;
      width: 0;
    }
  } 

  @include ltr {
    font-family: 'AppleSDGothic','Nanum Barun Gothic', sans-serif, monospace;
    font-size: 1.6rem;
  }

  @include rtl {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.4rem;
  }
}