$accent--lightmode: #fff;
$primary--lightmode: #464646;
$primary-light--lightmode: #9f9f9f;
$primary-light-highlight--lightmode: #343434;
$primary-lighter--lightmode: #eeeeee;
$shadow--lightmode: 0 8px 16px rgba(10, 10, 10, 0.1);

$accent--darkmode: #292a2d;
$primary--darkmode: #eeeeee;
$primary-light--darkmode: #9f9f9f;
$primary-light-highlight--darkmode: #343434;
$primary-lighter--darkmode: #464646;
$shadow--darkmode: 0 8px 16px rgba(226, 226, 226, 0.1);

$active-button-darkmode: #373840;
$active-button-lightmode: #c9cad7;

$warning: #ffc107;
$info: #6086b4;
$success: #51d88a;
$danger: #ef5753;

$callout--lightmode: #eeeeee;
$callout--darkmode: #606060;

$nav-target--lightmode:#c9cad7;
$nav-target--darkmode: #363841;
$nav-expand--lightmode:#eeeeee;
$nav-expand--darkmode: #202020;
$nav--lightmode:#6086b4;
$nav--darkmode: #5e5e5e;

$thumbnail-height: 15em;
$series-thumbnail-height: 10em;
$body-max-width: 1920px;

$sidebar-ratio: calc(1 - #{$content-ratio});
$content-max-width: calc(#{$body-max-width} * #{$content-ratio});
$sidebar-max-width: calc(#{$body-max-width} - #{$content-max-width});
$content-width: calc(#{$content-ratio} * 100%);
$sidebar-width: calc(#{$sidebar-ratio} * 100%);
