<div
  class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .

  {{ else }}
    animated fadeInDown

  {{ end }}"
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="{{ .Site.Params.profilePicture | relURL }}"
        alt="profile picture"
      />
      {{ if .IsHome }}
        <h1 class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </h1>

      {{ else }}
        <div class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </div>

      {{ end }}
      <div class="sidebar__introduction-description">
        <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
      </div>
    </div>
    <ul class="sidebar__list">
      {{ range $item := .Site.Params.socialIcons }}
        <li class="sidebar__list-item">
          <a
            href="{{ $item.url }}"
            target="_blank"
            rel="noopener"
            aria-label="{{ $item.title }}"
            title="{{ $item.title }}"
          >
            <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
          </a>
        </li>

      {{ end }}
    </ul>
  
    <div class="nav__list categories">
      {{ $url := string .Permalink }}
      {{ $list := ( index .Site.Data.subcategories ) }}
      {{ $icon := .Site.Data.category_icon }}
      {{ range $key, $value := .Site.Taxonomies.categories.Alphabetical }}
        <a href="{{ "/categories/" | relLangURL }}{{ $value.Name | urlize }}" class="{{ if in $url (lower $value.Name) }} watched {{ end }}">
          {{ if isset $icon $value.Name }}
            <i class="{{ index $icon $value.Name}}"></i>
          {{ end }}
          {{ humanize $value.Name }} 
          <span>({{ .Count }})</span>
          <div class="icon down">
            <i class="fa-solid fa-angle-down"></i>
          </div>
        </a>
        {{ if isset $list $value.Name }}
          {{ range $subKey, $subValue := (index $list $value.Name) }}
            <div class="expand__list">
              <a href="/subcategories/{{ $subValue | urlize }}" class="{{ if in $url (lower $subValue) }} watched {{ end }}">
                {{ if isset $icon $subValue }}
                  <i class="{{ index $icon $subValue}}"></i>
                {{ end }}
                {{ humanize $subValue }}
              </a>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{- partial "footer.html" (dict "context" . "footerClassModifier" "sidebar") -}}
</div>
<script>
  const arrows = document.getElementsByClassName('down');
  for (i = 0; i < arrows.length ; i++) {
    arrows[i].addEventListener('click', function(e) {
      e.preventDefault();
      console.log(this);
      this.classList.toggle('up');
      this.classList.toggle('down');
      this.parentNode.nextElementSibling.classList.toggle('expand--open');
    });
  }

  const expands = document.querySelectorAll('.expand__list');
  for (i = 0; i < expands.length; i++) {
    const classes = expands[i].firstElementChild.classList;
    const icon = expands[i].previousElementSibling.lastElementChild;
    if (classes.contains('watched')) {
      icon.classList.add('up');
      icon.classList.add('down');
      expands[i].classList.add('expand--open');
    }
  }
</script>
