.navbar-burger {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
  padding: 6px;
  &__line {
    display: block;
    height: 5px;
    left: calc(50% - 15px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 30px;

    @include themed() {
      background-color: t('primary');
    }

    &:nth-child(1) {
      top: calc(50% - 6px);
    }

    &:nth-child(2) {
      top: calc(50% + 3px);
    }

    &:nth-child(3) {
      top: calc(50% + 12px);
    }
  }

  @include desktop {
    display: none;
  }
}

.nav {

  &__opener {
    position: fixed;
    height: 100%;
    overflow: hidden;
    z-index: 999;
    transition-duration: 0.2s;
    transition-property: right;
    right: -500px;

    .nav__list {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
      width: 400px;
      padding: 25px 0;
      box-sizing: border-box;
    }

  }

}
