.post {
  margin: 30px;

  @include themed() {
    background-color: t('accent');
  }

  &__meta {
    display: flex;
    list-style: none;
    padding: 0;

    &-item {
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }

    &-icon {
      @include ltr {
        margin-right: 2px;
      }

      @include rtl {
        margin-left: 2px;
      }
    }

    &-text {
      &:not(:last-child) {
        @include ltr {
          margin-right: 4px;
        }

        @include rtl {
          margin-left: 4px;
        }
      }
    }
  }

  &__thumbnail {
    width: 100%;
    height: $thumbnail-height;
    filter: brightness(0.5);
    object-fit: cover;
    display: block;

    &-wrapper {
      border-radius: 2px;
      width: 100%;
      margin-bottom: 1em;
      overflow: hidden;
      transition: box-shadow 0.3s ease;

      &-main {
        width: 20%;
        margin-top: -20px;
        float: right;
        margin-left: 20px;
        transition: box-shadow 0.3s ease;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 2px;

        @include mobile {
          width: 100%;
          margin: 0;
          float: none;
        }
        
        .post__thumbnail {
          height: 10em;
          filter: none;
        }
      }

      @include themed() {
        box-shadow: t('shadow');
      }
    }
  }

  &__toc {
    float: right;
    position: sticky;
    top: 100px;
    max-width: 250px;
    margin-right: calc((100% - 1150px) / 2);

    a {

      @include themed() {
        color: t('primary') !important;
      }
      

      &:hover {
        color: #adadad !important;
      }
    }
  }

  &__content {
    
    &.detail {
      width: 900px;

      @include mobile {
        width: auto;
      }
      
    }

    a {
      @include themed() {
        color: t('info');
      }
    }

    .chroma {
      @include themed() {
        background-color: t('primary-lighter');
        display: block;
        border-bottom: 1px solid t('primary-lighter');
        border-radius: 5px;
        padding: 15px;
      }

      * {
        font-size: 1.4rem;
      }
    }

    code {
      font-family: 'Fira Code';
      line-height: 25px;
      

      @include themed() {
        background-color: t('primary-lighter');
        border: 1px solid t('primary-lighter');
        border-radius: 2px;
      }
    }

    pre {
      padding: 15px;
      overflow-x: auto;
      letter-spacing: -0.5px;
      border-radius: 5px;

      @include themed() {
        background-color: t('primary-lighter');
      }
    }

    mark {
      padding: 2px;
    }

    aside {
      padding: 0 15px;
      white-space: pre-wrap;
      border-radius: 5px;

      > p {
        margin: 0;
        margin-top: 1em;
      }

      strong {
        letter-spacing: .5px;
      }

      @include themed() {
        background-color: t('callout');
      }
    }

    h1 {
      $font-size-h1: 3.6rem;

      font-size: $font-size-h1;
      letter-spacing: 1px;
      line-height: 1;

      a {
        font-size: $font-size-h1;

        @include themed() {
          color: t('primary');
        }
      }
    }

    h2 {
      $font-size-h2: 2.4rem;

      font-size: $font-size-h2;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1;
      margin-top: 3em;

      a {
        font-size: $font-size-h2;

        @include themed() {
          color: t('primary');
        }
      }
    }

    h3 {
      $font-size-h3: 1.9rem;
      font-size: $font-size-h3;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1;
      margin-top: 2.5em;

      a {
        font-size: $font-size-h3;

        @include themed() {
          color: t('primary');
        }
      }

      strong {
        font-size: $font-size-h3;
      }
    }

    p {
      letter-spacing: 0.6px;

      strong {
        margin-top: 2.5em;
      }  
    }

    span {
      &.red {
        color: tomato;
      }

      &.gray {
        color: #adabab;
      }

      &.bg_r {
        background-color: tomato;
        color: white;
        margin: 0 1px;
        padding: 1px 3px;
        border-radius: 2px;
      }

      &.bg_y {
        background-color: lemonchiffon;
        color: black;
        margin: 0 1px;
        padding: 1px 3px;
        border-radius: 2px;
      }

      &.it {
        font-style: italic;
      }

      &.ul {
        text-decoration: underline;
        text-underline-position: under;
      }
    }

    table {
      tr {
        * {
          padding: 10px 5px;
        }

        th {
          @include themed() {
            background-color: t('primary-lighter');
          }
        }

        td {
          @include themed() {
            border-bottom: 1px solid t('primary-light-highlight');
          }
        }
      }
    }

    ul,
    ol {
      line-height: 1.9em;
      font-weight: 400;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }

    figure {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      text-align: center;

      &.big {
        max-width: 87.5%;
      }

      &.medium {
        max-width: 75%;
      }

      &.small {
        max-width: 50%;
      }

      &.tiny {
        max-width: 25%;
      }

      &.right {
        @include desktop {
          max-width: 50%;

          @include ltr {
            float: right;
            margin: 0 0 0 1.5em;
          }

          @include rtl {
            float: left;
            margin: 0 1.5em 0 0;
          }
        }
      }

      &.left {
        @include desktop {
          max-width: 50%;

          @include ltr {
            float: left;
            margin-right: 1.5em;
          }

          @include rtl {
            float: right;
            margin-left: 1.5em;
          }
        }
      }
    }
  }

  &__footer {
    padding: 12px 0;

    @include themed() {
      border-bottom: t('border');
    }

    &-date {
      font-size: 1.4rem;

      @include ltr {
        margin-right: 10px;
        margin-left: 5px;
      }

      @include rtl {
        margin-left: 10px;
        margin-right: 5px;
      }
    }
  }
}