.related {

    margin: 3em 0;

    &--list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;

        a {
            padding: 20px 30px;
            border-radius: 3px;
            min-width: 150px;
            
            @include themed() {
                background-color: t('callout');
                color: t('primary') !important;
            }

            span {
                color: black;
                font-weight: 600;
                display: block;

                i {
                    padding: 0 10px;
                }
            }

            p {
                margin: 0;
                margin-top: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}