#searchbox {
    position: absolute;
    transform: translate(-50%, 20%);
    left: 50%;
    max-width: 640px;
    width: 80%;
    height: 60%;
    max-height: 480px;
    @include themed() {
        background-color: t('primary-lighter');

    }
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: auto;

    input {
        padding: 10px 15px;
        font-weight: bold;
        border: 0 solid black;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 10px;
        position: sticky;
        z-index: 1;

        @include themed() {
            color: black;
            border: 2px solid t('primary-light');
        }

        &:focus {
            outline: none;
            @include themed() {
                border-color: 2px solid t('primary-light');
            }
        }
    }
    
}

#searchResults {
    margin: 10px 5px;
    padding: 0;

    @include themed() {
        background-color: t('primary-lighter');
    }

    li {
        list-style: none;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
        position: relative;
        font-weight: 500;

        &:active {
            transition: transform 0.1s;
            transform: scale(0.98);
        }

        &:hover {
            transform: scale(0.98);
            @include themed() {
                background-color: t('primary-light');
                color: t('accent');
            } 
        }
    }

    a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        outline: none;

    }

    .focus {
        transform: scale(0.98);
        @include themed() {
            background-color: t('primary-light');
            color: t('accent');
        } 
        
    }

}

.search {
    &--wrapper {
        width: 100%;
        height: 100vh;
        z-index: 3;
        position: absolute;
        background-color: rgba(27, 30, 33, 0.77);
    }

}
