.tag {
  display: inline-block;
  font-size: 1.4rem;

  @include themed() {
    color: t('primary-light');
  }

  @include ltr {
    margin: 5px 8px 5px 0;
  }

  @include rtl {
    margin: 5px 0 5px 8px;
  }

  &::before {
    content: '#';
  }

  &__btn {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px 20px;
    margin-bottom: 50px;
    border-radius: 2px;

    @include themed() {
      color: t('accent') !important;
      background: t('primary-light');
    }

    &:hover {
      cursor: pointer;
      
      @include themed() {
        color: t('primary') !important;
        background: t('primary-lighter');
      }
    }
  }
}

.tags {
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  // width: calc(0.8 * 100%);
  transition: 1s;

  @include mobile {
    display: flex;
    background-color: t('accent') !important;
    max-height: fit-content;
    justify-content: center;
  }

  li {
    border-radius: 4px;
    padding: 8px 20px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.4rem;

    @include themed() {
      background: t('primary-lighter');
    }

    a {
      font-size: 1.4rem;
    }

    span {
      font-size: 1rem;
    }
  }

  &.hide {
    @include desktop {
      max-height: 15px;
    }
    
    @include mobile {
      max-height: 40px;
    }
  }
}